/* green #90BE23
 black #0F0F0F
*/

@font-face {
    font-family: CutiveMono;
    src: url(../fonts/CutiveMono-Regular.ttf);
  }
body{
    background: #0F0F0F;
    min-width: 500px;
}

#container{
    font-family: 'CutiveMono';
    margin:0 auto;
    min-width: 300px;
    max-width: 100%;
    font-size:25px;
    color:white;
}

.green-text{
    color:#90BE23 ;
}

p{
    font-size:21px;
}

h1{
    font-size:100px;
}

h2{
    font-size:43px;
}

.active{
    background:transparent !important;
    color:#90BE23;
}

#About, #Experience, #Works{
    display:none;
}
/***/
#Home{
    margin-top: 150px;
}

/***Mobile nav***/
#open-nav{
    display:none;
    position: fixed;
    right:15px;
    top:20px;
    cursor: pointer;
    z-index: 15;
    background-size: cover;
    width:50px;
}
.bar1, .bar2, .bar3{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}


#closer{
    width: 100%;
    height: 100%;
    z-index: 5;
    background: #0F0F0F;
    opacity: 0.9;
    position:fixed;
    margin:0;
    top:0;
    transition: 0.5s;
}

/***Mobile nav***/

/**Menu**/

nav{
    display:block;
    margin-top:225px;
    float: left;

}

nav li{
    max-width: 200px;
    min-width: 200px;
    border: solid 4px #90BE23;
    border-left:none;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:60px;
    margin-bottom:25px;
    background:#90BE23;
    cursor: pointer;
}
/**Menu**/

#content{
    display: flex;
    max-width:100%;
    padding-left:100px;
    padding-right:10px;
    margin-top:100px;
    min-height: 80vh;
    max-height: 80vh;
    overflow: auto;
}
#carusel{
    width: 216px;
    margin: 0 auto;
}

#carusel li:hover{
    cursor: pointer;
} 
#carusel ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#carusel li{
    background: #90BE23;
    width:15px;
    height:15px;
    display:inline-block;
    border-radius:20px;
    border:4px solid #90BE23;
}
#carusel button{
    outline:none;
}
#carusel .left{
	width: 0;
    height: 0;
    margin-right:5px;
    border:none;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
    border-right: 30px solid #90BE23;
    background: none;
    border-radius:0;
}

#carusel .right{
	width: 0;
    height: 0;
    margin-left:5px;
    border:none;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
    border-left: 30px solid #90BE23;
    background: none;
    border-radius:0;
}
/****About******/
#About{
}
.info{
    display:inline-block;
    padding-top:50px;
    padding-right: 80px;
    vertical-align:top;   
    max-width: 55%;
}
.info h2{
    padding-bottom:25px;
}
.info p{
    max-width: 90%;
}
th{
    padding:25px;
}
.img-bg{
    margin-left:15px;
    margin-top:15px;
    width: 300px;
    height: 430px;
    background: #90BE23;
}
.pic{
    margin-top: 50px;
    vertical-align:top;   
    display:inline-block;
}
.pic img{
    max-width: 276px;
    float: left;
}


.software,.skills{
    padding-top:25px;
    display: inline-block;
    vertical-align:top;   
}

.contact{
    margin-top: 15px;
}
.contact a{
    text-decoration: none;
    color: white;
}

.contact a:hover{
    text-decoration: underline;
}
/****About******/

/****exp****/


.employer{
    max-width: 80%
}
.employer, .description{
    padding-bottom:25px;
}

.description{
    max-width: 60%;
}

.job, .employer{
    padding-bottom: 15px;
}
/****exp****/

/***Works****/
.work{
    margin-bottom:55px;
}
.work >*{
    display: inline-block;
    vertical-align: middle;
    max-width: 50%;
}
.work-img img{
    max-width: 200px;
    padding:0;
}

/***Works****/

@media only screen and (max-width:1141px){
    #About{
        flex-direction: column;
    }
    .pic{
        order:-1;
    }
    .info{
        padding-right:0;
    }
    .info p{
        max-width: 100%;
    }
}

@media only screen and (max-width:980px){
    #open-nav{
        display:block;
    }
    .active{
        border: solid 4px #0F0F0F;
        color:#0F0F0F
    }
    #content >*{
        align-items: center;
    }
    #content{
        padding:0;
    }
    nav{
        width:0;
        height:100%;
        overflow: hidden;
        right:0;
        position: absolute;
        margin-top:0px;
        top: 0;
        float:none;
        z-index: 10;
        background: #90BE23;
        transition: 0.5s;
        padding-top: 150px;
    }
    nav li{
        padding-left:0;
        text-align: center;
        max-width: 100%;
    }
    #exp{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top:750px;
        
    }
    .jobs{
        margin-top:150px;
    }
    .work-img img{
        max-width: 100px;
        padding:0;
    }
}