/* green #90BE23
 black #0F0F0F
*/

@font-face {
    font-family: CutiveMono;
    src: url(../fonts/CutiveMono-Regular.ttf);
  }

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'CutiveMono';
    margin:0 auto;
    min-width: 300px;
    font-size:25px;
    max-width: 100%;
    display: grid;
    grid: "menu content";
    grid-template-columns: 309px auto;
    background: #0F0F0F;
}

.green-text *{
    color:#90BE23;
}

p{
    font-size:21px;
}

h1{
    font-size:100px;
}

h2{
    font-size:43px;
}

.active{
    background:transparent;
    color:#90BE23;
}
/***/

/**Menu**/
nav{
    grid-area: menu;
    margin-top:309px;
}

nav li{
    border: solid 4px #90BE23;
    border-left:none;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:60px;
    margin-bottom:25px;
    background:#90BE23;
}
/**Menu**/

#content{
    grid-area:content;
    border:solid red;
    padding:0 150px;
    margin-top:150px;
}
