/*
green #006633
black #1D1D1B
White  #FFFFFF
Blue #009DAD
red rgba(213,34,30,1)
*/
/*Fonts and defaults*/
@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}

body{
    margin:0 auto;
    color: #ffffff;
    font-family: Montserrat-Regular;
}
p{
    font-size:1rem;
    line-height: 30px;
}
.row{
    margin:0px;
}

.active{
    color:rgba(213,34,30,1) !important;
}

#openMobileMenu{
    display: none;
}

#mobileMenu{
    display:none;
}

button{
    background:rgba(213,34,30,1);
    border:none;
    border-radius:10px;
    padding:15px;
}

hr{
    border-color: rgba(213,34,30,1);
    border-width:1px;
}
a{
    text-decoration: none;
}
.flex-container{
    display:flex;
    flex-wrap: wrap-reverse;
}

/*fonts and defaults end*/


.about, .program, .social, .partners, .m-home,.m-about, .m-program, .m-social, .m-partners{
    display:none;
    background-size: auto;
}


/*menu css*/
#menuBar, #contacts{
    background:#000000;
    font-size:1.5rem;
    text-align: center;
    padding:20px;
}

#topMenu a{
    font-size:1.25rem;;
    font-family: Montserrat-Bold;
    padding:0px 10px;
    color:#FFFFFF;
}

#topMenu a:hover{
    color:rgba(213,34,30,1);
    text-decoration: none;
}

/* menu end*/

/*content and its container*/
#content-container{
    background-image:url(../img/tausta.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right; 
    padding:0px;
    
    
}

.content{
    min-height: 75vh;
    max-width:60%;
    margin:0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding:5% 10% 15px 10%;
    background:rgba(255,255,255,0.9);
    color:black;
}

.content h1{
    font-size:2rem;
    margin-bottom:25px;
}

.content img{
    width: 100%;
    height: auto;
}

.content p{
    margin-bottom:25px;
}
/*content end*/

/*About page*/
.about b{
    font-weight: bolder;
}
#nena{
    background: rgba(213,34,30,1);
    width:50px;
    height:50px;
    border-radius: 50px;
    border:transparent;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin:0 auto;
    padding:0;

}
#nena a{
    color:white;
    font-family: Montserrat-Regular;
}
/*About page end*/
/*home page*/

.home{
    min-height: 75vh;
    display:block;
    background-image:url(../img/tausta2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right; 
}

.home img{
    width:50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto
}

/*home page end*/

/*program page*/

.program{
    max-width:80%;
}
.program h2{
    font-size:1.25rem;
    font-family:Montserrat-Bold;
}
.program p{
    line-height: initial;
}

#older{
    border-left:solid rgba(213,34,30,1) 2px;

}
.program h3{
    font-family: Montserrat-Bold;
    color:red;
}

.program img{
    max-width:90%;
    height:auto;
    margin-top: 50px;
}
/*program page end*/

/*social  page*/
.social img{
    width:75%;
    height: auto;
}

.social a:hover, #contacts a:hover, .partners a img:hover{
    opacity: 0.5;
}

.social h1{
    padding-bottom:15px;
}

/*social page end*/
/*Partners page*/
.partners img{
    padding: 5px;
    margin:0 auto;
    max-width: 500px;
    display: block;
}

.sponsor{
    align-items: center;
    display: flex;

}

.sponsor img{
    width:auto;
    max-width:100%;
    padding:5px;
}
/*Partners page end*/
/*contacts*/
#contacts{
    text-align: left;
}

#contacts img{
    width: 8rem;
    height:auto;
}

/*contacts end*/

/*
    //
   <lo
    ll
    llama~
    || ||
    '' ''
/*