html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body{
    margin:0px auto;
    max-width: 63.5rem;
    padding:0px;
}
/*Valikko säädöt*/
#menuBar{
    border:solid 2px;
    background:#24668a;
    /*position: fixed;*/
}

#menuBar button{
    background:#24668a;
    border:none;
    font-size:3rem;
}
#menuBar h1, #menuBar button{
    font-size:2rem;
    display: inline;
}

.nav ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
.nav li{
    display: inline;
}

/*Valikko säädöt end*/


/*Linkki valikko*/
#menuItems{
    display:block;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    z-index: 1;
    padding-top:10px;
    padding-bottom:10px;
}

#menuItems a{
    background: #055a88;
    border-radius:10px;
    list-style-type:none;
    display: inline-block;
    color:#8cc34b;
    font-family:"Bauhaus 93";
    font-size:3rem;
    padding:5px;
    margin:0px 5px ;
}

/*Linkki valikko end*/

/*content css*/
#content-container{
    background:#24668a;
    height:99vh;
}
#content-container >div{
    display:none;
}
/*content end*/