/*
green #006633
black #1D1D1B
White  #FFFFFF
Blue #009DAD
*/
/*Fonts and defaults*/
@font-face {
    font-family: GothamBook;
    src: url(../fonts/Gotham-Book.otf);
}

@font-face {
    font-family: GothamBookBold;
    src: url(../fonts/Gotham-Book-Bold.otf);
}

body{
    margin:0 auto;
    color: #ffffff;
    font-family: GothamBook;
}
p{
    font-size:1rem;
    line-height: 30px;
}
.row{
    margin:0px;
}

.active{
    color:#009DAD !important;
}

#openMobileMenu{
    display: none;
}

#mobileMenu{
    display:none;
}

button{
    background:#006633;
    border:none;
    border-radius:10px;
    padding:15px;
    
}

hr{
    border-color: #009DAD;
    border-width:1px;
}

.flex-container{
    display:flex;
    flex-wrap: wrap-reverse;
}

/*fonts and defaults end*/


.about, .program, .social, .partners, .m-home,.m-about, .m-program, .m-social, .m-partners{
    display:none;
    background-size: auto;
}


/*menu css*/
#menuBar, #contacts{
    background:#000000;
    font-size:1.5rem;
    text-align: center;
    padding:20px;
}

#topMenu a{
    font-size:1.25rem;;
    font-family: GothamBookBold;
    padding:0px 10px;
    color:#FFFFFF;
}

#topMenu a:hover{
    color:#009DAD;
    text-decoration: none;
}

/* menu end*/

/*content and its container*/
#content-container{
    background-image:url(../img/tausta.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    padding:0px;
    
    
}

.content{
    min-height: 75vh;
    max-width:60%;
    margin:0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding:5% 10% 15px 10%;
    background:rgba(255,255,255,0.9);
    color:black;
}

.content h1{
    font-size:2rem;
    margin-bottom:25px;
}

.content img{
    width: 100%;
    height: auto;
}

.content p{
    margin-bottom:25px;
}
/*content end*/

/*home page*/

.home{
    min-height: 75vh;
    display:block;
}

.home img{
    width:50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto
}

/*home page end*/

/*program page*/

.program{
    max-width:80%;
}
.program h2{
    font-size:1.25rem;
    font-family:GothamBookBold;
}
.program p{
    line-height: initial;
}

#older{
    border-left:solid #009DAD 2px;

}
.program h3{
    font-family: GothamBookBold;
    color:red;
}

.program img{
    max-width:90%;
    height:auto;
    margin-top: 50px;
}
/*program page end*/

/*social  page*/
.social img{
    width:75%;
    height: auto;
}

.social a:hover, #contacts a:hover, .partners a:hover{
    opacity: 0.5;
}

.social h1{
    padding-bottom:15px;
}

/*social page end*/

/*contacts*/
#contacts{
    text-align: left;
}

#contacts img{
    width: 8rem;
    height:auto;
}

/*contacts end*/

/*
    //
   <lo
    ll
    llama~
    || ||
    '' ''
/*